@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost:wght@700&display=swap');
/* a minimalist set of CSS resets */

:root{
    --card-color: rgba(35, 34, 36, 0.555);
    --card-header-color: crimson;
    --card-body-color: rgb(235, 232, 238);
    --card-footer-color: indigo;
 }
/*
 .card{
     margin: 0 auto;
     background: var(--card-color);
     color:rgb(255, 255, 255);
     width: 400px;
     padding: 20px;
     box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
     border-radius: 20px;            
 }
 */

 .card-header{
     background: var(--card-header-color);            
     margin: -120px;
     padding: 20px;
     border-radius: 20px 20px 0px 0px;
 }
 .card-body{
     background: var(--card-body-color);
     margin: 5px;
     padding: 20px;
     border-radius: 10px 10px 10px 10px;
 }

 .card-footer{
     background: var(--card-footer-color);
     margin: -20px;
     padding: 20px;
     border-radius: 00px 00px 20px 20px;
     display: flex;
     justify-content: space-between
 }
.card-title{
    color: rgb(214, 39, 126);;
    text-align: center;
    
    font-size:large;
}
.card-text{
    text-align: center;
    font-size: medium;
}


.img-fluid {
    max-width: 100%;
    height: 200px;
  }
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-width: 250px;
    height: auto;
  }

  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 5px 5px;
    /*max-width: 100%;*/
    max-width: 100%;
    height: auto;
  }



#container{
    width: 80%;
}

.carrito{
    display: grid;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:10%;
    margin-right:10%;
    color: rgb(165, 42, 128);
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(227, 222, 222);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    
}
.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin: 20px;
  }
  
  .row {
      flex-direction: row column;
  } 

  .btn-pri{
   width: 100%;;
  }

  .btn-pri:hover{
    color: var(--card-body-color);
    background:brown;
    border-radius: 3px 3px 3px 3px;
    animation-name: boton;
    animation-duration: 2s;
    
}
.btn-del{
    width: 100px;
    

   }
 
   .btn-del:hover{
     color: var(--card-body-color);
     background:brown;
     border-radius: 3px 3px 3px 3px;
     animation-name: boton;
     animation-duration: 2s;
     
 }

 .carrito-moto {
    background-image: url(../img/moto.png);
    animation-name: pizza;
    animation-duration: 3s ;
    animation-fill-mode: forwards;
    
  }

@keyframes boton {
from {background-color:rgb(175, 173, 173);}
to {background-color: brown;}


}

@keyframes pizza {
    0% {left:0px; top:0px;}
    50% {left:400px; top:0px;}
    100% {left:0px; top:0px;}
}
.list-group{
    margin: 5px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(205, 205, 205);
    text-align: right;
}
